---
import "../style/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Astro + Tailwind</title>
    </head>
    <body class="min-h-screen flex flex-col gap-2 items-center justify-center">
        <div class="flex">
            <h1 class="text-black text-4xl font-bold">xchan</h1>
            <p>BETA</p>
        </div>
        <p>Next iteration of the Horizon ecosystem</p>
    </body>
</html>
